.top{
    height: 250px;
    background-color: #386eb1;
    background-image: none;
}

.top h1{
    color: white;
    margin-top: 180px;
    position: absolute;
    margin-left: 670px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
   
}
header .logo{
    margin-left: 20px;
}

header nav.first ul li a{
    color: white;
}

header nav.main{
    width: 900px;
    height: 50px;
    float: left;
    margin-top: 20px;
    padding: 10px 15px;
	margin-left: 200px;
}

header nav.main ul li a{
    color: white;
}

header nav.first ul li a.current{
    font-weight: 600;
}


.user-desc{
    width: 100%;
    min-height: 400px;
    padding: 30px;
    background-color: aliceblue;
}
.user-desc .user-box{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-left: 670px;
    margin-right: 670px;
    background-color: rgb(185, 185, 185);
    padding: 8px 3px;
}


.user-desc .user-box i{
    font-size: 120px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    color: white;
    border-radius: 100%;
}

.user-desc h1{
    font-size: 25px;
    margin-bottom: 2px;
    font-family: proxima-nova; 
    text-align: center; 
}

.levels{
    width: 100%;
    min-height: 500px;
    border: 1px solid #bbb;
    background-color: whitesmoke;
}

.levels button{
    width: 250px;
    height: 50px;
    padding: 5px 20px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    font-family: tajawal;
    font-weight: 600;
    cursor: pointer;
	outline: none;
    transition: all 0.5s;
	border: none;
	color: white;
	border: 1px solid darkblue;
	background-color: #386eb1;
}

.levels button:hover{
    background-color: white;
    color: darkblue;
}

footer{
	width: 100%;
	margin-top: 1px;
	text-align: center;
	padding: 30px;
	color: white;
	font-family: tajawal;
	font-weight: 600;
	font-size: 20px;
	background-color: #386eb1;
}

