    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    body {
        font-family: noto sans jp;
        /* background-image: url('../img/E-learning.png');
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: 10% -30%; */
        background-color: i;
    }
    
    a {
        outline: none;
        padding: 10px;
        border-radius: 10px;
        text-transform: uppercase;
        transition: all 0.25s;
    }
    
    button.px-6 {
        transition: all 0.25s;
    }
    
    p {
        font-family: lato;
    }
    
    input#srch {
        border: 2px solid #B2BEB5;
    }
    
    ul#tel {
        list-style-type: square;
    }
    
    #signUp,
    #apply {
        transition: all 0.25s;
    }
    /* Hamburger Menu */
    
    .hamburger {
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: all 0.25s;
        position: relative;
    }
    
    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 4px;
        border-radius: 15px;
        background: #000;
        transform: rotate(0);
        transition: all 0.5s;
    }
    
    .hamburger-middle {
        transform: translateY(7px);
    }
    
    .hamburger-bottom {
        transform: translateY(14px);
    }
    
    .open {
        transform: rotate(90deg);
        transform: translateY(0px);
    }
    
    .open .hamburger-top {
        transform: rotate(45deg) translateY(6px) translate(6px);
    }
    
    .open .hamburger-middle {
        display: none;
    }
    
    .open .hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translate(-6px);
    }
    /* The sticky class is added to the header with JS when it reaches its scroll position */
    
    .sticky {
        position: fixed;
        top: -10;
        width: 100%;
    }
    
    @media (min-device-width: 0px),
    (max-device-width: 640px) {
        .sticky {
            margin-top: -30px;
        }
        #desc .flex.flex-col.items-center {
            margin-top: 20px;
        }
    }
    /* @media (min-width: 768px),
    (max-width: 1440px) {
        .sticky {
            margin-top: -60px;
        }
    } */
    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    
    .sticky+.content {
        padding-top: 102px;
    }
    
    #desc {
        background-image: url(../img/GOU3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px 0;
        background-attachment: fixed;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.59);
    }
    
    #desc .flex.flex-col.items-center {
        border: 2px solid #E5E4E2;
    }